<!DOCTYPE html>
	<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" original-class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" original-class="no-js lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]> <html class="no-js lt-ie9" original-class="no-js lt-ie9"> <![endif]-->
	<!--[if gt IE 8]><!-->
	<html class="no-js" original-class="no-js">
	<!--<![endif]-->
		<head profile="http://www.w3.org/1999/xhtml/vocab">
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8">		
			<link rel="shortcut icon" href="/themes/humboldt2/linked/favicon.ico" type="image/vnd.microsoft.icon">
			<meta name="Generator" content="Drupal 8 (http://drupal.org)">
			<title>{{ head_title|safe_join(' | ') }}</title>
			<meta name="description" content="">
			<meta name="viewport" content="width=device-width">
			<link type="text/css" rel="stylesheet" href="/themes/humboldt2/css/d19a87eda448e553a1fcca518a89a4c6.css" media="all">
			<link type="text/css" rel="stylesheet" href="/themes/humboldt2/css/38a5be85a424138e30cad4d4dc082973.css" media="all">
			<link type="text/css" rel="stylesheet" href="/themes/humboldt2/css/2a5b4daca59358fcf92ef3ec26ebe447.css" media="all">
			<link type="text/css" rel="stylesheet" href="/themes/humboldt2/css/ce4dff7630ed2623ee41441d656b6864.css" media="all">
			<link type="text/css" rel="stylesheet" href="/themes/humboldt2/css/1a6c6dfc70c4e1835114868375616aba.css" media="all">
			<link type="text/css" rel="stylesheet" href="/themes/humboldt2/css/e785a3dbbccef7faa886711c91fff637.css" media="all">
			<script type="text/javascript" src="/themes/humboldt2/js/respond.min.js"></script>
			<script type="text/javascript" src="/themes/humboldt2/js/a1d08a552749319931e1e1ef6ea23578.js"></script>
			<script type="text/javascript" src="/themes/humboldt2/js/01c7712a537905bef6c86f5121429d9d.js"></script>
			<script type="text/javascript" src="/themes/humboldt2/js/b863ec028c0f030500c5827f69dfebdf.js"></script>
			<script type="text/javascript" src="/themes/humboldt2/js/2ddad04db51965856efb05f168917e06.js"></script>
			<script type="text/javascript" src="/themes/humboldt2/js/e275614cc335d69f15cb298b6b5f9a37.js"></script>		
			<css-placeholder token="{{ placeholder_token|raw }}">
	    	<js-placeholder token="{{ placeholder_token|raw }}">
			<!--[if IE 7]>
			<link rel="stylesheet" href="/themes/pgcalc_master/ie7/ie7.css">
			<![endif]-->
		</head>
		{{ page_top }}
	    {{ page }}
	    {{ page_bottom }}
	    <js-bottom-placeholder token="{{ placeholder_token|raw }}">    
	</html>
